
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}
@section Css{
    <link rel="stylesheet" type="text/css" href="~/css/admin/adhome.css">
}
<div class="k main-form">
    <div class="k form-body">
        
        <div class="slideshowContainer">
            <div class="imageSlides" style="background-image:url(/images/admin/slide/slide1.jpg)" alt="beach side city view"></div>
            <div class="imageSlides" style="background-image:url(/images/admin/slide/slide2.jpg)" alt="leaf on the ground"></div>
                <div class="imageSlides" style="background-image:url(/images/admin/slide/slide3.jpeg)" alt="lake surrounded by mountains"></div>
            <span id="leftArrow" class="slideshowArrow">&#8249;</span>
            <span id="rightArrow" class="slideshowArrow">&#8250;</span>

            <div class="slideshowCircles">
                <span class="circle dot"></span>
                <span class="circle"></span>
                <span class="circle"></span>
            </div>

        </div>
    </div>
</div>
@section Script{
    <script>
        //checkToken();
    </script>
    <script type="text/javascript" src="~/lib/chart/highcharts.js"></script>
    <script type="text/javascript" src="~/js/admin/adindex.js"></script>
}